.Sidebar {
  .Recent {
    background: white;
    h2 {
      margin: 0;
    }

    ul {
      padding: 0;
      list-style: none;
      padding-top: 1em;

      li {
        padding: 0.1em;
        color: black;
        margin-bottom: 0.5em;
        font-size: 3em;

        small {
          float: right;
          margin-top: 0.1em;
          font-size: 0.8em;
          color: #555;
        }
      }
    }
  }
}
