.Sidebar {
  .Recent {
    background: white;
    h2 {
      margin: 0;
    }

    &__Name {
      color: black;
      font-size: 5rem;
    }

    &__Time {
      margin-top: 0.1em;
      font-size: 0.8em;
      color: #555;
    }
    ul {
      padding: 0;
      list-style: none;
      padding-top: 1em;

      li {
        padding: 0.1em;
        margin-bottom: 0.5em;
        font-size: 4rem;
      }
    }
  }
}
