.Clock {
  height: 100%;
  display: inline-block;

  &__Inner {
    font-size: 1em;
    margin: 0.1em 0.2em;
    padding: 0;
  }

  &__Colon {
    position: relative;
    top: -5px;

    animation: fadeColon 2s infinite ease-in-out;

    @keyframes fadeColon {
      0% {
        color: black;
      }
      50% {
        color: white;
      }
      100% {
        color: black;
      }
    }
  }
}
